.dashboard, .login, .blogs, .blog-detail-container{
  margin-left: 240px
}

@media (max-width: 991.98px) {
  .dashboard, .login, .blogs, .blog-detail-container{
    margin-left: 0;
  }
}

.addBlog{
  height: calc(100vh - 140px);
} 

.markdown-area{
  height: 100%;
}

.write-markdown{
  width: 50%;
  height: 100%;
  padding: 13px;
  border-right: 1.5px solid rgba(15, 15, 15, 0.4);
  font-family: "Lato", sans-serif;
  border: 3px solid black;
  border-radius: 20px;
  overflow-y: scroll;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.markdown-display{
  width: 50%;
  height: 100%;
  padding: 13px;
  border-right: 1.5px solid rgba(15, 15, 15, 0.4);
  font-family: "Lato", sans-serif;
  border: 3px solid black;
  border-radius: 20px;
  overflow-y: scroll;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.markdown-display::-webkit-scrollbar{
  display:none;
}
.write-markdown::-webkit-scrollbar{
  display:none;
}

.button-save, .btn-right{
  float: right;
}

textarea{
  min-height:300px;
}